<!-- _includes/nav.html -->
<nav class="nav-bar">
  <ul class="nav-list">
    <li><a href="{{ '/' | relative_url }}" class="nav-link">Home</a></li>
    <li><a href="{{ '/pages/about.html' | relative_url }}" class="nav-link">About</a></li>
    <li><a href="{{ '/pages/portfolio.html' | relative_url }}" class="nav-link">Portfolio</a></li>
    <li><a href="{{ '/pages/blog.html' | relative_url }}" class="nav-link">Blog</a></li>
    <li><a href="{{ '/pages/contact.html' | relative_url }}" class="nav-link">Contact</a></li>
  </ul>
</nav>
